* { 
    margin: 0%;
    padding: 0;
}

.menu {
    margin-right: 14px;
    margin-top: 12px;
}

.menu li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: black;
    text-decoration: underline;
}

.imagenCirulo {
    border-radius: 50%;
}

.barraDeBusqueda {
    border: 1px solid lightgray;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.barraDeBusqueda:hover {
    box-shadow: 0px 0px 4px 0px #B5B5B5;
}

.barraDeBusqueda span {
    font-size: 18px;
    color: gray;
    cursor: pointer;
}

.barraDeBusqueda input {
    flex-grow: 1; /* La propiedad flex-grow de CSS especifica el factor de crecimiento de un elemento flexible (que tiene asignado display:flex), en su dirección principal. El factor de crecimiento especifica qué cantidad del espacio restante dentro del contenedor flexible, debería ocupar el item en cuestión. */
    height: 30px;
    font-size: 16px;
    border: none;
    margin-left: 14px;
    margin-right: 14px;
}

.barraDeBusqueda input:focus {
    outline: none;
}

.botones button {
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #F2F3F4;
}

.botones button:hover {
    box-shadow: 0px 0px 4px 0px #B5B5B5;
}

.buscarConGoogle {
    width: 140px;
}

.voyATenerSuerte {
    width: 140px;
}

.language {
    font-size: 14px;
}

.language p a {
    color: blue;
    text-decoration: none;
}

.language p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0;                                                                                              
    text-align: center;
    font-size: 14px;
    height: 45px;
}

footer a {
    color: lightslategrey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: lightslategrey;
}

.menu2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
}

.carbono {
    padding-left: 75px;
    padding-right: 75px;
}

@media screen and (max-width:1295px) { 

    #footer1 {
        display: none;
    }

    #footer2 {
        height: 90px;
    }
    
    .menu3 {
        height: 45px;
        margin-top: 15px;
    }

    #google {
        margin-top: 100px;
    }

    #fotoGpogle {
        width: 370px;
    }

    .carbono {
        padding-top: 10px;
    }

}

@media screen and (min-width:1296px) { 

    #footer2 {
        display: none;
    }

}

.espacio {
    padding-left: 15px;
    padding-right: 15px;
}


/* <footer class="container-fluid" id="footer2">
<div class="m-2"> <a href="#"><img src="img/hojaGoogle.png" alt="hoja" class="img-fluid" width="12px">
        Con emisión neutra de carbono desde 2007</a></div>
        <div>
            <div class="d-flex align-items-center d-flex justify-content-around menu3">
                <a href="">Sobre Google</a>
                <a href="">Publicidad</a>
                <a href="">Negocios</a>
                <a href="">Cómo funciona la Búsqueda</a>
            </div>
            <div class="d-flex align-items-center d-flex justify-content-around menu3">
                <a href="">Privacidad</a>
                <a href="">Condiciones</a>
                <a href="">Preferencias</a>
            </div>
        </div>
</footer> */

@media screen and (max-width:828px) { 

    #footer2 {
        display: none;
    }

    #fotter1 {
        display: none;
    }



}

